<html>
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="<%= url %>"><%= url %></a>...</p>
    <script>
      window.location.href = "<%= url %>";
    </script>
  </body>
</html>